$font-stack: 'Spartan', sans-serif;
$font-size: 15px;
$dark-magenta: hsl(300, 43%, 22%);
$subtext-color: hsl(303, 10%, 53%);
$rating-color: hsl(300, 24%, 96%);

body {
    font-family: $font-stack;
    font-size: $font-size;
    // background-image: url("/images/bg-pattern-top-desktop.svg"), 
    // url("/images/bg-pattern-bottom-desktop.svg");
    // background-position: bottom right;
    // background-repeat: no-repeat;
}

main{
    margin: 129px 164px 0px 165px;
    border: 1px dashed;

    .flex-container-top{
        display: flex;
     
        .left{
            flex: 1;
    
            .title-text{
                color: $dark-magenta;
                margin: 0px;
                padding: 0px 50px 0px 0px;
                letter-spacing: -1.75px;
                line-height: 1;
                font-size: 48px;
                font-weight: 700;
            }

            .title-subtext{
                color: $subtext-color;
                margin: 0px;
                padding: 16px 50px 0px 0px;
                font-weight: 500;
                letter-spacing: -0.5px;
                line-height: 1.5;
            }
        }

        .right{
            flex: 1;
            
            @mixin rating{
                height: 55px;
                width: 420px;
                font-size: 14px;
                margin-bottom: 16px;
                border-radius: 5px;
                background-color: $rating-color;
                display: flex;
                align-items: center;

                .ratings-flex-left{
                    padding: 0px 25px;
                   
                    .stars{
                        margin: 0px 1px;
                    }
                }

                .ratings-flex-right{
                    font-weight: 700;
                    color: $dark-magenta;
                }
            }

            .ratings-1{
                @include rating; 
                margin-top: 15px; 
                margin-left: 16px;
            }
            .ratings-2{
                @include rating;  
                margin-left: 64px;
            }
            .ratings-3{
                @include rating; 
                margin-left: 112px; 
            }
        }
    }
}