body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 0%, 100% 100%;
  background-size: 530px 330px, 1000px 650px;
}

main {
  margin: 100px 150px;
}
main .flex-container-top {
  display: flex;
}
main .flex-container-top .left {
  flex: 1;
}
main .flex-container-top .left .title-text {
  color: #502050;
  margin: 0px;
  padding: 0px 50px 0px 0px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-size: 48px;
  font-weight: 700;
}
main .flex-container-top .left .title-subtext {
  color: #937b92;
  margin: 0px;
  padding: 16px 60px 0px 0px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.5;
}
main .flex-container-top .right {
  flex: 1;
}
main .flex-container-top .right .ratings-1 {
  height: 55px;
  width: 420px;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f7f2f7;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 16px;
}
main .flex-container-top .right .ratings-1 .ratings-flex-left {
  padding: 0px 25px;
}
main .flex-container-top .right .ratings-1 .ratings-flex-left .stars {
  margin: 0px 1px;
}
main .flex-container-top .right .ratings-1 .ratings-flex-right {
  font-weight: 700;
  color: #502050;
}
main .flex-container-top .right .ratings-2 {
  height: 55px;
  width: 420px;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f7f2f7;
  display: flex;
  align-items: center;
  margin-left: 64px;
}
main .flex-container-top .right .ratings-2 .ratings-flex-left {
  padding: 0px 25px;
}
main .flex-container-top .right .ratings-2 .ratings-flex-left .stars {
  margin: 0px 1px;
}
main .flex-container-top .right .ratings-2 .ratings-flex-right {
  font-weight: 700;
  color: #502050;
}
main .flex-container-top .right .ratings-3 {
  height: 55px;
  width: 420px;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f7f2f7;
  display: flex;
  align-items: center;
  margin-left: 112px;
}
main .flex-container-top .right .ratings-3 .ratings-flex-left {
  padding: 0px 25px;
}
main .flex-container-top .right .ratings-3 .ratings-flex-left .stars {
  margin: 0px 1px;
}
main .flex-container-top .right .ratings-3 .ratings-flex-right {
  font-weight: 700;
  color: #502050;
}
main .flex-container-bottom {
  display: flex;
  margin-top: 70px;
  gap: 25px;
}
main .flex-container-bottom #review-box-1 {
  box-sizing: border-box;
  width: 352px;
  height: 200px;
  border-radius: 10px;
  background-color: #502050;
  padding: 30px 29px;
  color: #f7f2f7;
  font-size: 12px;
  line-height: 1.8;
}
main .flex-container-bottom #review-box-2 {
  box-sizing: border-box;
  width: 352px;
  height: 200px;
  border-radius: 10px;
  background-color: #502050;
  padding: 30px 29px;
  color: #f7f2f7;
  font-size: 12px;
  line-height: 1.8;
  margin-top: 16px;
}
main .flex-container-bottom #review-box-3 {
  box-sizing: border-box;
  width: 352px;
  height: 200px;
  border-radius: 10px;
  background-color: #502050;
  padding: 30px 29px;
  color: #f7f2f7;
  font-size: 12px;
  line-height: 1.8;
  margin-top: 32px;
}
main .flex-container-bottom .bio {
  display: flex;
  align-items: center;
}
main .flex-container-bottom .bio .avatar {
  width: 40px;
  border-radius: 20px;
}
main .flex-container-bottom .bio p {
  padding: 0px 25px;
  margin: 0px;
}
main .flex-container-bottom .bio .name-title {
  font-weight: 700;
}
main .flex-container-bottom .bio .buyer {
  color: #ee68a4;
}/*# sourceMappingURL=styles.css.map */